@font-face {
  font-family: littleQueen;
  src: url(/font/LittleQueen.ttf);
}
#Navbar {
  width: 100%;
  height: 113px;
  position: relative;
  z-index: 1;
  background-color: #548084;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#Navbar .LogoEco01 {
  height: 65px;
  margin-left: 142px;
}
#Navbar .navbar {
  width: 50%;
  margin-right: 145px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: end;
}
#Navbar .navbar ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#hero {
  width: 100%;
  height: 1400px;
  position: relative;
  top: -200px;
  left: 0;
}
#hero #fondoHero {
  width: 100%;
}
#hero #fondoHero svg {
  width: 100%;
}
#hero .textoHero {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 30%;
}
#hero .textoHero p {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 600;
  color: #ffffff;
  height: 70px;
}
#hero .textoHero h1 {
  font-family: littleQueen;
  font-size: 75px;
  color: #ffffff;
}
#hero .textoHero h3 {
  width: 62%;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: #ffffff;
}
#hero .imgHero {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 50%;
  height: 800px;
  position: absolute;
  top: 300px;
  left: 45%;
}
#hero .imgHero .rectangulo01 {
  height: 20%;
  position: absolute;
  left: 10%;
  top: 50px;
}
#hero .imgHero .rectangulo01 svg {
  height: 500px;
}
#hero .imgHero .rectangulo02 {
  height: 20%;
  position: absolute;
  top: 250px;
  left: 10%;
}
#hero .imgHero .rectangulo02 svg {
  height: 500px;
}
#hero .imgHero .img01 {
  position: absolute;
  left: 10%;
  top: 40px;
  z-index: 1;
}
#hero .imgHero .img01 img {
  height: 800px;
}
#hero .imgHero .img02 {
  position: absolute;
  left: 28%;
  top: 0px;
}
#hero .imgHero .img02 img {
  height: 800px;
}

#productos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 850px;
  padding-top: 100px;
}
#productos h3 {
  font-family: littleQueen;
  font-size: 47px;
  font-weight: 600;
}
#productos .productosCard {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
#productos .productosCard .cardProductos {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#productos .productosCard .cardProductos img {
  height: 440px;
  margin-bottom: 15px;
}
#productos .productosCard .cardProductos p {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 700;
}
#productos .productosCard .cardProductos a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 65px;
  border-radius: 11px;
  background-color: #E59D15;
  border-color: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

#proceso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
#proceso h2 {
  font-family: littleQueen;
  font-size: 47px;
  font-weight: 600;
  margin-bottom: 50px;
}
#proceso p {
  width: 80%;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

#medidas {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
}
#medidas .card02 {
  height: 213px;
  margin: 5%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
#medidas .card02 .textoCard02 {
  height: 90px;
  margin-left: 50px;
}
#medidas .card02 .textoCard02 .tGrande {
  height: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
}
#medidas .card02 .textoCard02 p {
  height: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 300;
}

#quienesSomos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 100px;
}
#quienesSomos h3 {
  font-family: littleQueen;
  font-size: 47px;
  font-weight: 600;
}
#quienesSomos .valores {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 60px;
}
#quienesSomos .valores .card03 {
  width: 20%;
}
#quienesSomos .valores .card03 h4 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}
#quienesSomos .valores .card03 p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}

#galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 100px;
}
#galeria h3 {
  font-family: littleQueen;
  font-size: 47px;
  font-weight: 600;
  margin-bottom: 100px;
}
#galeria .originales {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}
#galeria .originales .tituloPersonajes p {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 500;
}
#galeria .originales .personajes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#galeria .originales .personajes img {
  width: 15%;
}
#galeria .customizables {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}
#galeria .customizables .tituloPersonajes p {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 500;
}
#galeria .customizables .personajes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#galeria .customizables .personajes img {
  width: 15%;
}
#galeria .reciclables {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}
#galeria .reciclables .tituloPersonajes p {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 500;
}
#galeria .reciclables .personajes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#galeria .reciclables .personajes img {
  width: 15%;
}

#envios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#envios h3 {
  font-family: littleQueen;
  font-size: 47px;
  font-weight: 600;
  margin-bottom: 100px;
}
#envios .card04 {
  display: flex;
  flex-direction: row;
  width: 40%;
  margin-bottom: 150px;
}
#envios .card04 .icono {
  width: 30%;
}
#envios .card04 .texto h6 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
#envios .card04 .texto p {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 400;
}

#contacto .fondo {
  height: 1500px;
  position: relative;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}
#contacto .fondo .form {
  width: 100%;
  height: 1000px;
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: row;
}
#contacto .fondo .form .logoContacto {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contacto .fondo .form .formulario {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contacto .fondo .form .formulario h3 {
  font-family: littleQueen;
  font-size: 47px;
  font-weight: 600;
  position: absolute;
  top: 20px;
}
#contacto .fondo .form .formulario .mb-3 {
  width: 50%;
}
#contacto .fondo .form .formulario .mb-3 label {
  background-color: transparent;
  border-color: transparent;
}
#contacto .fondo .form .formulario .mb-3 input {
  background-color: #D9D9D9;
}
#contacto .fondo .form .formulario .mb-3 textarea {
  background-color: #D9D9D9;
}
#contacto .fondo .form .formulario .BotonEnviar {
  width: 50%;
  display: flex;
  justify-content: end;
}
#contacto .fondo .form .formulario .BotonEnviar a {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 65px;
  border-radius: 11px;
  background-color: #E59D15;
  border-color: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

#puntosDeVenta {
  height: 900px;
  background-color: #373435;
  z-index: 1;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #ffffff;
}
#puntosDeVenta h3 {
  margin-left: 6%;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: littleQueen;
  font-size: 47px;
  font-weight: 600;
}
#puntosDeVenta div {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
#puntosDeVenta div .direccion {
  width: 220px;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
#puntosDeVenta div .redes {
  width: 150px;
  display: flex;
  flex-direction: column;
}
#puntosDeVenta div .redes p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: right;
}
#puntosDeVenta div .redes div {
  justify-content: center;
}
#puntosDeVenta div .redes div a {
  margin: 5px;
}

/*# sourceMappingURL=style.css.map */
