@font-face {
  font-family: littleQueen;
  src: url(/font/LittleQueen.ttf);
}
#Navbar {
  width: 100%;
  height: 113px;
  position: relative;
  z-index: 1;
  background-color: #548084;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#Navbar .LogoEco01 {
  height: 65px;
  margin-left: 142px;
}
#Navbar .navbar {
  width: 50%;
  margin-right: 145px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: end;
}
#Navbar .navbar ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#hero {
  width: 100%;
  height: 1400px;
}
#hero #fondoHero {
  width: 100%;
}
#hero #fondoHero svg {
  position: relative;
  bottom: 170px;
  width: 100%;
}
#hero .textoHero {
  position: relative;
  bottom: 1100px;
  left: 10%;
  width: 30%;
}
#hero .textoHero p {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 600;
  color: #ffffff;
  height: 70PX;
}
#hero .textoHero h1 {
  font-family: littleQueen;
  font-size: 75px;
  color: #ffffff;
}
#hero .textoHero h3 {
  width: 62%;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: #ffffff;
}
#hero .imgHero {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 50%;
  height: 800px;
  position: relative;
  top: -1700px;
  left: 45%;
}
#hero .imgHero .rectangulo01 {
  height: 20%;
  position: relative;
  left: 840px;
  top: 100px;
}
#hero .imgHero .rectangulo01 svg {
  height: 500px;
}
#hero .imgHero .rectangulo02 {
  height: 20%;
  position: relative;
  top: 250px;
  left: 100px;
}
#hero .imgHero .rectangulo02 svg {
  height: 500px;
}
#hero .imgHero .img01 {
  position: relative;
  right: 800px;
  top: 50px;
  z-index: 1;
}
#hero .imgHero .img01 img {
  height: 800px;
}
#hero .imgHero .img02 {
  position: relative;
  right: 1170px;
}
#hero .imgHero .img02 img {
  height: 800px;
}

#productos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 850px;
  padding-top: 100px;
}
#productos h3 {
  font-family: littleQueen;
  font-size: 47px;
  font-weight: 600;
}
#productos .productosCard {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
#productos .productosCard .cardProductos {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#productos .productosCard .cardProductos img {
  height: 440px;
  margin-bottom: 15px;
}
#productos .productosCard .cardProductos p {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 700;
}
#productos .productosCard .cardProductos a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 65px;
  border-radius: 11px;
  background-color: #E59D15;
  border-color: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

#proceso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
#proceso h2 {
  font-family: littleQueen;
  font-size: 47px;
  font-weight: 600;
  margin-bottom: 50px;
}
#proceso p {
  width: 80%;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

#medidas {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
}
#medidas .card02 {
  height: 213px;
  margin: 5%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
#medidas .card02 .textoCard02 {
  height: 90px;
  margin-left: 50px;
}
#medidas .card02 .textoCard02 .tGrande {
  height: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
}
#medidas .card02 .textoCard02 p {
  height: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 300;
}

#quienesSomos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 100px;
}
#quienesSomos h3 {
  font-family: littleQueen;
  font-size: 47px;
  font-weight: 600;
}
#quienesSomos .valores {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 60px;
}
#quienesSomos .valores .card03 {
  width: 20%;
}
#quienesSomos .valores .card03 h4 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}
#quienesSomos .valores .card03 p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
